.notFoundPage {
    margin: 0;
    padding: 0;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    border: #cfcfcf 1px solid;
    border-radius: 15px;
    padding: 60px;
    box-shadow: rgba(0,0,0,0.15) 0 7px 25px;
}
.container h1 {
    font-size: 100px;
    margin: 0;
}
.container h2 {
    font-size: 40px;
    color: #5f5f5f;
    margin: 0;
}
